<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div class="cols">
        <div class="row-md-4">
            <br>
           rating comes here
          <hr>
        </div>
        <div class="row-md-4">
            <button>Add your review</button>
            <hr>
            
    
        </div>
    
        <div class="row-md-3">
            <br>
            Starring
            <ul>
                <li>Leonardo DiCaprio</li>
                <li>Robert Downey Jr</li>
                <li>Tom Hanks</li>
                <li>Dwayne Johnson</li>
                <li>Tom Cruise</li>
                <li>Brad Pitt</li>
            </ul>

            <hr>
           
        </div>
    
    </div> -->
    <app-review-edit></app-review-edit>
    
</body>
</html>