<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="cols">
        <div class="row-md-4">
            <br>
            <ngb-rating [(rate)]="currentRate"></ngb-rating>
          <hr>
        </div>
        <div class="row-md-4">
            <button (click)="onCLick()">Add your review</button>
            <hr>
        </div>
    
        <div class="row-md-3">
            <br>
            Starring
           <div *ngFor="let castEl of cast">
                {{castEl}}
           </div>

            <hr>
           
        </div>
    
    </div>    
</body>
</html>