<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <flash-messages></flash-messages>
    <div class="form">
        <div class="form-box">
        <div class="button-box">
            <div id="btn" #buttonf></div>
        <button type="button" class="toggle-btn" (click)="login()">Login</button>
        <button type="button" class="toggle-btn" (click)="register()" >Register</button>
    </div>
    <form  (submit)="onLogin(lf)" id="login" class="input-group" #loginf #lf="ngForm" >
        <input type="text" 
        class="input-field"
         placeholder="Username" 
         ngModel
          #username="ngModel" 
           name="username" 
         required>
        <input type="password"
         class="input-field" 
         placeholder="Password" 
         ngModel
          #password="ngModel" 
          name="password" 
         required>
         <div *ngIf="lf.invalid && lf.touched">Fill all the details</div>
        <input type="checkbox" class="check-box"><span>Remember Password</span>
        <button 
        class="submit-btn" [disabled]="lf.invalid" >Log In</button>
    </form>







    <form (submit)="onRegisterSubmit(rf)" id="register" class="input-group" #registerf #rf="ngForm">
        <input type="text" 
        class="input-field"
         placeholder="Username" 
         name="username"
         ngModel
         required>
        <input type="email"
         class="input-field" 
         placeholder="Email Id" 
         ngModel #email="ngModel" 
          name="email" 
         required>
        <input type="password"
         class="input-field" 
         placeholder="Password"
         name="password"
         ngModel
          required>
          <div *ngIf="rf.invalid && rf.touched">Fill all the details</div>
        <input type="checkbox" class="check-box"><span>I agree to the terms & conditions</span>
        <button type="submit" class="submit-btn" [disabled]="rf.invalid">Register</button>
    </form>
    
</div>
</div>
  
    
</body>
</html>