<h1>{{ movie.Title }}</h1>
<span class="age">{{movie.Rated}}</span><span> {{ movie.Genre }}</span>
<h3>About the Film</h3>
<br />
<table class="about">
  <div class="heading">
    <tr>Date
    <td>    {{movie.Released}}</td>
</tr>
    <tr>Country
        <td>    {{movie.Country}}</td>
    </tr>
    <tr>Genere
        <td>    {{movie.Genre}}</td>
    </tr>
    <tr>Director
        <td>    {{movie.Director}}</td>
    </tr>
    <tr>Writers
        <td>    {{movie.Writer}}</td>
    </tr>
    <tr>Time
        <td>    {{movie.Runtime}}</td>
    </tr>
  </div>
</table>


<button class="drop-down" (click)="toggle()">
    <i class="fa fa-angle-down" style="font-size:25px"></i>
</button><span class="view">    View All the information</span>
<div *ngIf="show">
    <div class="box box-down orange">
        <h4>Storyline</h4>
        <p>{{movie.Plot}}</p>
        </div>
</div>
