<div class="posterTable">
  <br />
  <table
    class="fundClassesTable"
    [class.transpose]="transpose"
    id="toggled-element"
  >
    <th class="tagline">What to watch?</th>
    <tr *ngFor="let f of posters;let i=index">
      <td>
        <a [routerLink]="['/',f['imdbID']]">
          <div class="poster col-sm-12 links">
            <div class="card">
              <div class="poster">
                <img [src]="f['Poster']" class="poster-image" />
              </div>
              <img src="../../assets/heart.svg" class="likes" /><span
                class="rating"
                >Add to wishlist</span
              >
              <br>
              <br>
            </div>
            <br>
              <span class="details">{{ f.imageAlt }}</span>
            <br>
          </div>
        </a>
      </td>
    </tr>
    <br />
   <div>Details from wishlist comes here</div>