html,body {
  position: relative;
  background: #040611;
  width:100%;
  height:100%;
  margin:0;
}
.searchbar {
  position: absolute;
  width: 800px;
  height: 53px;
  left: 35px;
  top: 32px;
  background-color: #808080;
  border-radius: 13px;

}

.searchmovies {
  position: absolute;
  width: 800px;
  height: 52px;
  left: 300px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: #808080;
  
}

.bookmark {
  position: absolute;
  width: 42px;
  height: 52px;
  left: 900px;
  top: 5px;
  background: url(../../assets/bookmark.png);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  color: #ffffff;
}

.watchlist {
  position: absolute;
  width: 176px;
  height: 55px;
  left: 950px;
  top: 5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: inline-block;
  color: #ffffff;
  background-color: #040611;
  border: 0;
  border-radius: 10px;
}

.signin {
  position: absolute;
  width: 154px;
  height: 55px;
  left: 1137px;
  top: 5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: inline-block;
  color: #ffffff;
  background-color: #040611;
  border: 0;
  border-radius: 10px;
}

.language {
  position: absolute;
  width: 60px;
  height: 55px;
  left: 1299px;
  top: 5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: inline-block;
  color: #ffffff;
  background-color: #040611;
  border: 0px;
  border-radius: 10px;
}

.drop-down {
  position: absolute;
  width: 19px;
  height: 19px;
  left: 1370px;
  top: 28px;
  background: url(../../assets/down-arrow.png);
}

.watchlist:hover {
  background-color: #0f163e;
  transition-duration: 0.4s;
}

.signin:hover {
  background-color: #0f163e;
  transition-duration: 0.4s;
}

.language:hover {
  background-color: #0f163e;
  transition-duration: 0.4s;
}

label{
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}

#toggle{
  display: none;

}

@media only screen and (max-width:500px){
  label{
    display: block;
    cursor:pointer;
  }
  .menu{

    text-align: center;
    width:100%;
  }
  .menu a{
    display:block;
    border-bottom: 1px solid black;
    
  }
}

body{
  background-color: #040611;
}