<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Add Review</title>
  </head>
  <body>
    <div class="cols">
      <div class="row-md-4">
        <br />
        <div 
        class="list-group-item clearfix"
        >
        <div ([*ngIf])=activated>
          <!-- {{fixMovie()}} -->
          <img 
          src="{{movie.imageSrc}}"
          alt="{{movie.imageAlt}}"
          class="img-responsive"
          style="max-height:80px;">
            <h5 class="list-group-item-heading" align="center">{{movie.imageAlt}}</h5>
            <h5 class="list-group-item-heading" align="center">{{movie.releaseDate}}</h5>
          
    </div> 
   </div> 
        <hr />
      </div>
      <div class="row-md-4">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="cols">
            <div class="row-sm-5 form-group">
              <input
               type="username" 
               id="username"
               placeholder="enter your name"
               name="username"
               required
             ngModel>

              </div>
            <div class="row-sm-5 form-group">
              <label for="rating">YOUR RATING</label>
              <br />
              <ngb-rating [max]="10" [(rate)]="currentRate" [readonly]="false" required></ngb-rating>
              <p>Rating:{{currentRate}}</p>
            </div>
            <div class="row-sm-5 form-group">
              <label for="headline">YOUR REVIEW</label>
              <input
                type="text"
                id="headline"
                class="form-control"
                placeholder="Write a headline for your review"
                name="headline"
                ngModel
                required
              />
            </div>

            <div class="row-sm-5 form-group">
              <textarea
                name="review"
                rows="10"
                cols="23"
                placeholder="write your review here"
                name="review"
                ngModel
                required
              ></textarea>
            </div>
            <div class="row-sm-5 form-group">
              <label for="spoilers">Does your review contain spoilers?</label>
              <input 
              type="radio"
               id="html"
               name="spoilers" 
               [value]="'yes'"
               ngModel/>
              <label for="spoilers">yes</label>
              <input 
              type="radio"
               name="spoilers"
               [value]="'no'"
               ngModel />
              <label for="spoilers">no</label><br />
            </div>
            <input type="submit" value="Submit" [disabled]="!f.valid">
            <input type="submit" value="Cancel" (click)="revertback()">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
