<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Movie Assets</title>
</head>
<body>
    <div class="row" >
        <div class="col-md-4">
            <br>
            <div class="container">
                <img 
                src="{{movie.Poster }}"
                alt="{{movie.Title }}"
                class="img-responsive poster">
                <div (click)="toggleColor()">
            <i class="fa fa-bookmark"  style="font-size: 35px;"[ngClass]="{'active':isActive}"></i>
            </div>
            </div>
            <br>
            <!-- <p><iframe  [src]="movie.trailerlink | safe:'resourceUrl'" title="YouTube video player"
             frameborder="0" allow="accelerometer; autoplay; clipboard-write;
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="trailer"></iframe></p> -->
        </div>
        <div class="col-md-4">
       <app-movies [movie]="movie"></app-movies>    
        </div>
    
        <div class="col-md-3">
            <br>
            <router-outlet></router-outlet>
    
        </div>
    </div>
    <div class="col-md-4">
        <div class="review-card">
            User Reviews
            <div *ngFor="let review of reviews">
               
    
                <div class="box box-down orange review-container">
                    <i class="fa fa-star" aria-hidden="true"></i> {{review.rating}}/10.0
                    <h4> {{review.headline}}</h4>
                   {{review.name}}
                    <p>
                        {{review.review}}
                    </p>
                  
                  
                    </div>
         
    
               
            </div>
    
        </div>

    </div>
    
    
</body>
</html>